@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

.font-family-karla {
  font-family: karla;
}
.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: center;
}

.success {
  text-align: center;
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #008000;
  color: #008000;
  background: #c1e1c1;
  border-radius: 5px;
  text-align: center;
}
